@model IEnumerable<Ali_Store.Data.Model.Product>
@{
    ViewData["Title"] = "Index";
}
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>pomato</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/~/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdn~/js.cloudflare.com/ajax/libs/font-awesome/4.7.0/~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn~/js.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.~/js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.~/js"></script><![endif]-->
</head>
<!-- body -->
<h1>Index</h1>


@if (ViewBag.IsAdmin)
{
    <p>
   
        <button class="btn btn-info"> <a asp-action="Create">Sell New One</a></button>

    </p>
    <br />
    <p>
        <button class="btn btn-warning">  <a asp-controller="_User" asp-action="index">Mange Users</a></button>
    </p>
}
<body class="main-layout">
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Brand</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* @if (ViewBag.iSlaptop)
    {
        @using (Html.BeginForm("index"))
        {
            <input type="text" id="GoodFor" name="GoodFor" placeholder="decript what yu wnt"/>
            <input type="submit" value="Submit" />
        }
    } *@
    <!-- brand -->
    <div class="brand">
        <div class="container">
        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.OrderBy(x => x.CreatedAt))
                    {
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                                <div class="brand_box">
                                    <img src="~/images/@item.Pic" alt="img" />
                                    @if (item.NewPrice != null)
                                    {
                                        <h3><s>$<strong class="red">@Html.DisplayFor(modelItem => item.Price)</strong></s> $<strong class="red">@item.NewPrice.Value</strong></h3>
                                    }
                                    else
                                    {
                                        <h3>$<strong class="red">@Html.DisplayFor(modelItem => item.Price)</strong></h3>
                                    }
                                    <span>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </span>
                                    <span>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </span>
                                    <div>
                                        @{
                                            int fullStars = (int)item.AverageRating;
                                            int halfStar = (item.AverageRating - fullStars) >= 0.5 ? 1 : 0;
                                            int emptyStars = 5 - fullStars - halfStar;
                                        }
                                        @for (int i = 0; i < fullStars; i++)
                                        {
                                            <i><img src="~/images/star.png" alt="Full Star" style="max-width: 20px;"/></i>
                                        }
                                        @if (halfStar == 1)
                                        {
                                            <i><img src="~/images/half-star.png" alt="Half Star" style="max-width: 20px;"/></i>
                                        }
                                        @for (int i = 0; i < emptyStars; i++)
                                        {
                                            <i><img src="~/images/empty-star.png" alt="Empty Star" style="max-width: 20px;"/></i>
                                        }
                                    </div>
                                    <span>
                                        <button class="btn btn-info">   <a asp-action="Details" asp-route-id="@item.Id">Show More</a></button>
                                    </span>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- end brand -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.~/js"></script>
    <script src="~/js/popper.min.~/js"></script>
    <script src="~/js/bootstrap.bundle.min.~/js"></script>
    <script src="~/js/jquery-3.0.0.min.~/js"></script>
    <script src="~/js/plugin.~/js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.~/js"></script>
    <script src="~/js/custom.~/js"></script>
    <!-- javascript -->
    <script src="~/js/owl.carousel.~/js"></script>
    <script src="https:cdn~/js.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.~/js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#mySelect').change(function () {
                var selectedValue = $(this).val();
                console.log(selectedValue);
                // do something with the selected value
            });
        });

    </script>
</body>