@model IEnumerable<Ali_Store.Data.Model.Order>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Orders";
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("User_id");
}

<h1>Orders</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            @if(userId == 1) {
                <th>User</th>
            }
            <th>Date</th>
            <th>Total Price</th>
            <th>Products</th>
            @if(userId == 1) {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                @if(userId == 1) {
                    <td>
                        <a asp-controller="_User" asp-action="Details" asp-route-id="@order.UserId">
                            @order.User.FirstName @order.User.LastName
                        </a>
                    </td>
                }
                <td>@order.Date.ToShortDateString()</td>
                <td>@order.TotalPrice</td>
                <td>
                    <ul>
                        @foreach (var item in order.OrderItems)
                        {
                            <li>
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">
                                    @item.Product.Name
                                </a>
                            </li>
                        }
                    </ul>
                </td>
                @if(userId == 1) {
                    <td>
                        <form asp-action="DeleteOrder" asp-controller="Products" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@order.Id" />
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this order?');">Delete</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table> 